<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Harmattan|Tajawal">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main>

        <header>
            <img src="https://hunterll2.github.io/src/assests/images/games_guide_logo.png" alt="Website Logo" id="siteLogo" />
            <hr>
            <span id="siteTerm">مرشدك العربي في عالم الألعاب</span>
            <div id="siteLinks">
                <a href="#" class="icon"><i class="fa fa-instagram"></i></a>
                <a href="#" class="icon"><i class="fa fa-youtube"></i></a>
                <a href="#" class="icon"><i class="fa fa-twitter"></i></a>
            </div>
            <p id="siteDis">يمكن لأي شخص المساهمة في إثراء محتوى الموقع؛ اما بالتعديل على المقالات المنشورة أو بإضافة
                مقالة جديدة دون حاجته حتى لإنشاء حساب في الموقع!، حيث ان الموقع شبيه بمواقع الويكي ولكن خاص بالألعاب.
                فالهدف من الموقع توفير موسوعات عربية بالكامل للألعاب المختلفة.</p>
        </header>

        <nav id="siteNav">
            <button class="large" id="gamesListBtn"><i class="material-icons">videogame_asset</i><span>قائمة الألعاب</span></button>
            <button id="aboutBtn"><i class="material-icons">description</i><span>عن الموقع</span></button>
            <button id="blogBtn"><i class="material-icons">edit</i><span>المدونة</span></button>
            <button id="discussionBtn"><i class="material-icons">forum</i><span>النقاش العام</span></button>
        </nav>

        <input type="search" id="searchBox" placeholder="ابحث عن اسم لعبة، عنصر، منطقة، سلاح، عدو، وحش..." />

        <section class="hide" id="gamesList">
            <a href="/wiki/bloodborne/">Bloodborne</a>
            <a href="#">Dark Souls III</a>
            <a href="#">God of War</a>
            <a href="#">The Witcher 3</a>
            <a href="#">Nioh</a>
            <a href="#">Nier: Automata</a>
            <a href="#">Red Dead 2</a>
            <a href="#">Horizon Zero Dawn</a>
            <a href="#">Skyrim</a>
            <a href="#">Fallout 4</a>
            <a href="#">Darksiders II</a>
            <a href="#">Resident Evil 2</a>
        </section>

        <section class="hide" id="about">
            <h1>فكرة الموقع</h1>
            <p>هو عبارة عن موقع شبيه بمواقع الويكي ولكن خاص بالألعاب، حيث يمكن لأي شخص المساهمة في إثراء محتوى الموقع؛
                اما بالتعديل على المقالات المنشورة أو بإضافة مقالة جديدة دون حاجته حتى لإنشاء حساب في الموقع. طبعاً لمنع
                التخريب يوجد لكل مادة صفحة تُظهر كامل تاريخ
                التعديلات والنسخ القديمة للمادة. ولمنع إضافة معلومات غير موثقة، توجد لكل ماده صفحة خاصة للنقاش حول
                المعلومات المذكورة في المقالة.</p>
            <h1>انواع الألعاب</h1>
            <p>الموقع ليس مخصص لنوع معين من الألعاب ولكنه مناسب أكثر لألعاب العالم المفتوح والشبه مفتوح والألعاب التي
                تتضمن الكثير من العناصر والمواد. مثل ألعاب Dark Souls و The Witcher و God of War… الخ.</p>
        </section>

        <section class="hide" id="blog">
            <h1>المدونة</h1>
            <p>عبارة عن قسم من اقسام الموقع ينشر به مقالات وأخبار عامة في مجال الألعاب. يمكن لأي شخص ان ينشر مقالته
                الخاصة او خبر يريد الكتابة عنه او اي موضوع يحب ان يساهم به في الموقع.</p>
            <a class="linksBtn" href="#">الإنتقال إلى مدونة الموقع<i class="fa fa-arrow-circle-left"></i></a>
        </section>

        <section class="hide" id="discussion">
            <h1>النقاش العام</h1>
            <p>عبارة عن قسم خاص بالنقاش بين مستخدمين الموقع حول أي موضوع متعلق بالموقع او بالألعاب بشكل عام. يمكن لأي
                شخص المشاركة في النقاش او حتى فتح نقاش جديد حول الموضوع الذي يهتم به.</p>
            <a class="linksBtn" href="#">الإنتقال إلى قسم النقاش العام<i class="fa fa-arrow-circle-left"></i></a>
        </section>

    </main>

    <!--  Scripts  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>