@import "./standard.scss";

/* ==================== Layout ==================== */
main {
  margin: auto;
  padding: 10px;
  max-width: 600px;
}

/* ==================== Header ==================== */
header {
  padding-top: 50px;
  text-align: center;

  img#siteLogo {    
    width: 75px;
    opacity: 0.7;
  }

  span#siteTerm {
    display: block;
    width: 140px;
    margin: auto;
    font-weight: bold;
    padding-top: 7px;
    border-top: 1px solid #333;
  }

  div#siteLinks i {
    margin: 0 10px;
    font-size: 24px;
  }
}

header > * {
  padding-bottom: 10px;
}

/* ==================== Navigation Bar ==================== */
nav#siteNav {
  display: flex;
  margin-bottom: 14px;
  text-align: center;
  border-top: 1px solid #333;
  // background: $black-transparent;
  
  button {
    flex-grow: 1;
    padding: 10px 0;
    font-size: $small;
    border: 1px solid transparent;
    text-shadow: 1px 1px 0 black;
  }
  
  button.activeBtn {
    color: white;
    font-weight: bold;
  }
  
  button > i {
    font-size: larger;
  }
}

input#searchBox {
  padding: 14px;
  border: 1px solid #333;
  background: $black-transparent;
}

#searchBox:focus,
#searchBox:focus::placeholder {
  color: $white-smoke;
}

/* ==================== Sections ==================== */
section {
  margin: 10px 0;
  overflow: auto;

  h1 {
    font-size: $normal;
    margin-top: 10px;
  }
  
  h1:first-child {
    margin-top: 0px;
  }
}

section.hide {
  display: none !important;
}

section:not(#gamesList) {
  padding: 10px;
  border: 1px solid #333;
  background: $black-transparent;
}

.linksBtn {
  float: left;

  i {
    margin: 0px;
    margin-right: 7px;
  }
}

/* ==================== Games List ==================== */
#gamesList {
  direction: ltr;
  display: flex;
  flex-wrap: wrap;

  a {
    width: 120px;
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
    color: $white-smoke;
    font-size: $small;
    text-align: center;
    border: 1px solid #333;
    background: $black-transparent;
  }

  a:hover {
    color: white;
    background: rgba(0, 0, 0, 0.2);
  }

  a:active {
    background: $white-transparent;
  }
}
