/* ==================== Variables ==================== */
/* Backgrounds */
$bg-main: url("https://hunterll2.github.io/src/assests/images/background.jpg");
$bg-glow: url("https://hunterll2.github.io/src/assests/images/glow.png");

/* Fonts */
$serif: "Harmattan", serif;
$sans: "Tajawal", sans-serif;

/* Fonts Size  */
$small-taj: 0.688rem;
$small: 0.75rem;
$normal: 0.875rem;
$large: 1rem;

/* Speeds */
$fast: 0.2s;
$medium: 0.4s;
$slow: 0.7s;

/* Colors */
$black: hsl(0, 0%, 7%);
$dark: hsl(0, 0%, 21%);
$gray: #999;
$white-smoke: #bbb;
$light: hsl(0, 0%, 86%);
$red: hsl(348, 100%, 61%);
$blue: hsl(217, 71%, 53%);
$green: hsl(141, 71%, 48%);
$yellow: hsl(48, 100%, 67%);

$white-transparent: rgba(255, 255, 255, 0.1);
$black-transparent: rgba(0, 0, 0, 0.1);
$blue-transparent: rgba(0, 0, 255, 0.1);
$blue-black: linear-gradient(to bottom, $blue-transparent, $black-transparent);

/* ==================== Initial Value ==================== */
html {
  direction: rtl;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: $white-transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: $dark;
}

::-webkit-scrollbar-thumb {
  background: #222;
}

img, i {
  vertical-align: middle;
}

ul {
  list-style: none;
  list-style-position: inside;
}

var {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

input,
textarea {
  outline: none;
  direction: ltr;
  background: transparent;
}

input[type="search"] {
  border: none;
}

input[type="submit"] {
  cursor: pointer;
  text-align: center;
}

/* ToolTip */
.ui-tooltip {
  background: #282828;
  color: $white-smoke;
  box-shadow: none;
  border: 1px solid #333 !important;
  font-size: $small;
  font-family: $sans;
  padding: 5px 10px;
}

.ui-tooltip-content::after {
  content: "";
  position: absolute;
  left: 46.5%;
  top: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #333 transparent transparent transparent;
}