@import "./reset.scss";

body {
  cursor: default;
  user-select: none;
  font-family: $serif;
  font-size: $normal;
  color: $white-smoke;
  background: $bg-glow left/60% 100% no-repeat fixed, $bg-main;
}

/* ==================== Links ==================== */
a {
  color: $white-smoke;
}

/* ==================== Icons ==================== */
i {
  color: $gray;
  margin-left: 7px;
  font-size: inherit;
}

/* ==================== Button ==================== */
button,
a.button {
  padding: 5px 10px;
  color: $white-smoke;
  font-family: $sans;
  font-size: $small-taj;

  span {
    border: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
  }

  i + span {
    border: 0px;
    background: none;
    padding: 0px;
  }
}

button.icon,
a.icon {
  margin: auto 0;

  i {
    font-size: 16px;
    margin-left: 0;
  }
}

/* ==================== Mouse Effect ==================== */
button:hover,
a:hover,
button.icon:hover i,
a.icon:hover i {
  color: white;
}

button:active,
a:active {
  color: $gray;

  i {
    transform: scale(0.8);
  }
}

/* ==================== Form ==================== */
fieldset {
  border: none;
  margin: 14px 0;
}

fieldset:last-child {
  margin: 0px;
}

legend {
  color: $gray;
  font-style: italic;
  text-align: center;
  font-size: $small;
  padding: 0 5px;
}

label {
  display: inline-block;
  color: $gray;
  font-family: $sans;
  font-size: $small;

  padding: 20px 7px 10px 0;
}

label:first-child,
legend + label {
  padding-top: 0px;
}

/* ==================== Input Structrue ==================== */
input,
textarea {
  width: 100%;
  padding: 9px 7px;
  font-family: Verdana;
  font-size: $small;
}

input[type="submit"] {
  font-weight: bold;
}

input[type="checkbox"] {
  width: auto;
  margin-left: 5px;
  vertical-align: middle;
}

input[type="search"] {
  text-align: center;
  font-size: $normal;
  text-transform: capitalize;
}

input::placeholder,
textarea::placeholder,
input[type="submit"] {
  direction: rtl;
  font-family: $sans;
  font-size: 10px;
}

input[type="search"]::placeholder {
  text-align: center;
  font-size: $small;
}

/* ==================== Input Design ==================== */
input,
textarea {
  color: $gray;
  border: 1px solid #333;
  transition: $fast;
}

input[type="submit"]:hover {
  color: $white-smoke;
  background: $black-transparent;
}

input[type="submit"]:active {
  background: $white-transparent;
}

input:focus,
textarea:focus {
  color: $white-smoke;
  background: $black-transparent;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-left: 10px solid #333;
}

/* ==================== Global Class ==================== */
.hidden {
  display: none !important;
}

.hiddenToUp {
  height: 0px !important;
  border-bottom: 0px solid #333 !important;
  overflow: hidden;
}

.float-left {
  text-align: left;
}

.activeBtn,
.activeBtn i {
  color: #ccc !important;
  font-weight: bold;
}

.unactive * {
  color: $gray;
}

.unactive ul,
.unactive a,
.unactive button {
  display: none;
}

.unactive .fa-eye-slash {
  display: block;
}

/* Directions */
.ltr {
  direction: ltr !important;
}

.ltr ul {
  margin-right: 0px;
  margin-left: 10px;
  text-align: left;
}

.rtl {
  direction: rtl;
}

input.rtl:focus {
  border: 1px solid #333;
  border-right: 10px solid #333;
}

/* ==================== Control Tools ==================== */
#controlTools > * {
  display: none;
}

#overlay {
  width: calc(100% - 160px);
  height: calc(100% - 90px);
  background: rgba(0,0,0,0.0);
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  #screenSizeIndicator {
    display: initial;
  }
}