@import "./standard.scss";

body main main section h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: $large;
}

body main main section h2:first-child {
  margin-top: 10px;
}

/* ============================================================================
          =================== Structre & Desgin ===================
=============================================================================== */
/* ==================== Site Structre ==================== */
body {
  display: flex;
  width: 800px;
  margin: auto;
  max-width: 100%;
  height: 100vh;

  > aside,
  > main {
    display: flex;
    flex-direction: column;
  }

  > aside {
    width: 160px;

    footer {
      margin-top: auto;
    }
  }

  > main {
    width: calc(100% - 160px);

    header {
      flex-shrink: 0;
    }
  }
}

body > main,
aside > main {
  position: relative;
}

/* Full Page Mode */
body.fullPage {
  aside {
    width: 0px;

    * {
      opacity: 0;
    }
  }

  main {
    width: 100%;
  }
}

/* ==================== Site Design ==================== */
body {
  border-left: 2px solid #333;
  text-shadow: 1px 1px black;

  > aside {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px #111;

    footer {
      border-top: 1px solid #333;
    }
  }

  > main {
    background: $black-transparent;

    header > * {
      border-bottom: 1px solid #333;
    }
  }
}

main,
aside,
header,
footer,
header > * {
  overflow: hidden;
  transition: $medium;
}

/* ============================================================================
          ======================== Aside ========================
=============================================================================== */
/* ==================== Aside Header ==================== */
aside {
  header {
    text-align: center;

    img#siteLogo {
      width: 75px;
      height: 150px;
      opacity: 0.7;
    }

    hr {
      width: 70%;
      margin: auto;
      border: none;
      border-bottom: 1px solid #333;
    }

    span#siteTerm {
      display: block;
      font-weight: bold;
      font-size: $small;
    }

    div#siteLinks i {
      margin: 0 10px;
      font-size: 24px;
    }

    > * {
      margin-top: 10px !important;
    }
  }
}

/* ==================== Aside Main ==================== */
aside > main {
  position: relative;
}

/* Side Title */
aside > main h2 {
  font-size: $normal;
  padding: 10px 10px 5px 5px;
  border-bottom: 1px solid #333;
}

aside > main h2 > i {
  font-size: smaller;
  color: $white-smoke;
}

/* Side Navs */
.sideNavs h2 {
  cursor: pointer;
}

.sideNavs h2 > .hideIcon {
  display: none;
  float: left;
  line-height: 2;
}

/* Exceptions */
#articleNav.unactive {
  position: absolute;
  width: 100%;
  bottom: -1px;
}

.sideNavs.unactive #articleNav {
  position: initial;
  bottom: initial;
}

/* ========== Sign Form ========== */
#signForm {
  padding: 0 5px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#signUp_submit {
  width: 100%;
  margin-top: 10px;
  font-size: 10px;
}

#signTools label {
  float: right;
  padding: 0px;
  font-size: 9px;
}

#signTools label:last-child {
  float: left;
}

/* ==================== Aside Footer ==================== */
#siteTools {
  display: flex;
  height: 100%;
}

#signFormBtn {
  flex-grow: 1;
  font-family: $serif;
  font-size: $normal;
}

/* ============================================================================
          ======================== Main ========================
=============================================================================== */
/* ==================== Main Header ==================== */
body > main header > * {
  display: flex;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background: $black-transparent;
}

body > main header > * > * {
  flex-grow: 1;
}

/* Top Navs */
#mainNav {
  background: $blue-black;

  a {
    padding: 0px;
  }

  i {
    font-size: larger;
  }
}

/* Top Bars */
#titleBar,
#alertsBar {
  height: 40px;
  line-height: 40px;
  text-align: right;
  padding-right: 10px;
}

#titleBar > h1 {
  font-size: $large;
}

#editTools {
  width: 190px;
}

#alertsBar {
  padding-right: 0px;
  font-family: $sans;
  font-size: $small-taj;

  input {
    margin: 3px;
  }

  button {
    width: 140px;
    font-size: 10px;
  }
}

/* ==================== Main Main ==================== */
body > main > main {
  overflow: auto;
  padding: 10px 16px;
}

/* ===== Comments [Section] ===== */
/* Add Comment [Form] */
#addComment {
  display: flex;
}

#addComment fieldset {
  margin: 0;
  flex-grow: 1;
}

#addComment fieldset:first-child {
  width: 200px;
  padding-left: 20px;
  border-left: 1px solid #333;
}

#addComment fieldset:nth-child(2) {
  padding-right: 20px;
}

#addComment legend {
  color: $gray;
  font-style: italic;
  text-align: center;
  font-size: $small;
}

/* ==================== Main Footer ==================== */
body main footer {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 7px 10px;
  justify-content: flex-end;
}

body > main > footer > div {
  display: flex;
}

body main footer button {
  text-shadow: 1px 1px 3px #111;
  font-weight: bold;
  font-family: $sans !important;
  font-size: $small-taj !important;
}

body main footer button i {
  font-size: 16px !important;
}

/* ========== Game Nav ========== */
/* Titles */
#gameNav button {
  width: 100%;
  height: 40px;
  text-align: right;
  font-family: var(--serif);
  font-size: var(--nromal);

  i {
    float: left;
    margin: 0px;
    font-size: 9px;
    line-height: 2.5;
    text-shadow: 1px 0 #999;
    transition: var(--fast);
  }
}

#gameNav button.activeBtn {
  border-bottom: 1px solid #333;

  i {
    transform: rotate(-90deg);
  }
}

/* Items */
#gameNav ul ul {
  display: none;
}

/* Path */
.navPath {
  display: flex;
  height: 30px;
  overflow: hidden;
  padding-right: 10px;
  font-size: smaller;
  border-bottom: 1px solid #333;
  transition: var(--fast);
}

.navPath > * {
  line-height: 30px !important;
}

.navPath > span {
  display: none;
}

.subSection:before {
  content: "\203a";
  margin: 0 5px;
}

/* Links */
aside nav a {
  display: block;
  margin: 10px;
}

aside nav a > i {
  font-size: smaller;
}

#gameNav a:after {
  content: "\00bb";
  float: left;
}
/* ========== Game Nav [END] ========== */

/* ========== Comments List ========== */
.comment {
  display: flex;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #333;
  background: var(--bg-black);
}

#comment-author {
  width: 75px;
  min-width: 75px;
  height: 100px;
  text-align: center;
  box-shadow: 0 0 5px #111;
}

#comment-author img {
  width: 100%;
  height: 75px;
}

#comment-author var {
  display: block;
  padding: 3px 0;
  font-size: var(--small);
}

/*  */
.commentSide p {
  padding: 0 10px 10px;
  height: calc(100% - 25px);
}

/*  */
#commentTools {
  height: 25px;
  text-align: left;
  border-top: 1px solid #333;
  margin-right: 10px;
}

#commentTools button,
#commentTools var {
  opacity: 0.5;
}

#commentTools div {
  display: inline-block;
}

#commentTools div:before {
  content: "|";
  margin-right: 5px;
  color: #777;
}

#dislike {
  transform: rotate(180deg);
  position: relative;
  top: 4px;
}
/* ========== Comments List [END] ========== */
