@import "./standard.scss";
@import "./article.scss";

/* ============================================================================
          =================== Layout & Desgin ===================
=============================================================================== */
/* ==================== Site Layout ==================== */
body {
  display: flex;
  width: 800px;
  margin: auto;
  max-width: 100%;
  height: 100vh;

  > aside,
  > main {
    display: flex;
    flex-direction: column;
  }

  > aside {
    width: 160px;

    header {
      height: 240px;
      flex-shrink: 0;
    }

    main {
      height: 100%;
    }

    footer {
      height: 40px;
      flex-shrink: 0;
    }
  }

  > main {
    width: calc(100% - 160px);

    header {
      height: auto;
      flex-shrink: 0;
    }

    main {
      height: 100%;
    }
  }
}

/* Full Page Mode */
body.fullPage {
  > aside {
    width: 0px;

    * {
      opacity: 0;
    }
  }

  > main {
    width: 100%;
  }
}

/* ==================== Site Design ==================== */
body {
  border-left: 2px solid #333;
  text-shadow: 1px 1px black;
  overflow: hidden;

  > aside {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px #111;
    overflow: hidden;
    transition: $medium;

    footer {
      border-top: 1px solid #333;
    }
  }

  > main {
    background: $black-transparent;
    transition: $medium;

    main {
      overflow: auto;
      padding: 10px 16px;
    }

    header > * {
      overflow: hidden;
      border-bottom: 1px solid #333;
      transition: $medium;
    }
  }
}

/* ============================================================================
          ======================== Aside ========================
=============================================================================== */
/* ==================== Aside Header ==================== */
aside > header {
  text-align: center;

  img#siteLogo {
    width: 75px;
    height: 150px;
    opacity: 0.7;
  }

  hr {
    width: 70%;
    margin: auto;
    border: none;
    border-bottom: 1px solid #333;
  }

  span#siteTerm {
    display: block;
    font-weight: bold;
    font-size: $small;
  }

  div#siteLinks i {
    margin: 0 10px;
    font-size: 24px;
  }

  > * {
    margin-top: 10px !important;
  }
}

/* ==================== Aside Main ==================== */
aside > main {
  position: relative;

  // Side Title
  h2 {
    cursor: pointer;
    font-size: $large;
    padding: 10px 10px 5px 5px;
    border-bottom: 1px solid #333;

    i {
      font-size: smaller;
      color: $white-smoke;
    }

    .hideIcon {
      display: none;
      float: left;
      line-height: 2;
    }
  }
}

/* Exceptions */
#articleNav.unactive {
  position: absolute;
  width: 100%;
  bottom: -1px;
}

.sideNavs.unactive #articleNav {
  position: initial;
  bottom: initial;
}

/* ===== Sign Form ===== */
#signForm {
  padding: 10px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#signUp_submit {
  width: 100%;
  margin-top: 10px;
  font-size: 10px;
}

#signTools {
  label {
    float: right;
    padding: 0px;
    font-size: 9px;
  }

  label:last-child {
    float: left;
  }
}

/* ==================== Aside Footer ==================== */
#siteTools {
  display: flex;
  height: 100%;

  button {
    flex-grow: 1;
    font-family: $serif;
    font-size: $normal;
    font-weight: bold;
  }
}

/* ============================================================================
          ======================== Main ========================
=============================================================================== */
body > main {
  position: relative;
}

/* ==================== Main Header ==================== */
body > main header > * {
  display: flex;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background: $black-transparent;
}

body > main header > * > * {
  flex-grow: 1;
}

/* Top Navs */
#mainNav {
  background: $blue-black;

  a {
    padding: 0px;
  }

  i {
    font-size: larger;
  }
}

/* Top Bars */
#titleBar,
#alertsBar {
  height: 40px;
  line-height: 40px;
  text-align: right;
  padding-right: 10px;
}

#titleBar {
  > h1 {
    font-size: $large;
  }
}

#alertsBar {
  padding-right: 0px;
  font-family: $sans;
  font-size: $small-taj;

  input {
    margin: 3px;
  }

  button {
    width: 140px;
    font-size: 10px;
  }
}

/* ==================== Main Main ==================== */
body main main {
  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    // text-align: center;
    font-size: $large;
  }

  h2:first-child {
    margin-top: 10px;
  }
}

/* ===== Comments [Section] ===== */
/* Add Comment [Form] */
#addComment {
  display: flex;

  fieldset {
    margin: 0;
    flex-grow: 1;
  }

  fieldset:first-child {
    width: 200px;
    padding-left: 20px;
    border-left: 1px solid #333;
  }

  fieldset:nth-child(2) {
    padding-right: 20px;
  }

  legend {
    color: $gray;
    font-style: italic;
    text-align: center;
    font-size: $small;
  }
}

/* ==================== Main Footer ==================== */
body main footer {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 7px 10px;
  justify-content: flex-end;

  > div {
    display: flex;
  }

  button {
    text-shadow: 1px 1px 3px #111;
    font-weight: bold;
    font-family: $sans !important;
    font-size: $small-taj !important;

    i {
      font-size: 16px !important;
    }
  }
}


@import "./module.scss";
@import "./responsive.scss";